body {
	margin: 0 20px;
}

h1 {
	color: skyblue;
}



ul {
	list-style:none;
	padding-left:0px;
}

button {
	border: 0px solid skyblue; 
	background-color: skyblue; 
	color: white; 
	font-style: italic;
	padding: 5px;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;

}

.about {
	background color: skyblue;
}

.mydescription {
	color: gray;
	font-size: 20px;
	margin: 30px 5px;
}


#survey {
	margin: 10px;
}

#survey:hover {background: yellow;}



input[type=text] {
	width: 30%;
	border: 2px solid #aaa;
	padding: 12px;
	border-radius: 5px;
	font-size: 14px;

}

.mysurvey {
	color: gray;
	font-size: 20px;
	margin: 30px 5px;
}

