
   .carousel-wrap {
    width: 900px;
    margin: auto;
  }

  .input-wrap-all {
    width: 900px;
    margin: 30px auto;
  }

  .mytext {
    width: 900px;
    margin: 30px auto;
    color: navy;
    text-align: center;

  }

  .table {
    width: 900px;
    margin: 100px auto;
  }

